**Daniel Flores Rodríguez - A01734184**

Módulo 5 Preprocesamiento de datos multivariados o de una serie temporal

Para empezar este analisis de variables, se comenzara por extraer la informacion de los dataframes así como extraer y armar otros dataframes de acuerdo a lo que se solicita.

In [ ]:
# Se instala los paquetes y librerias necesarias para poder realizar el analizis de la situacion problema, utilizamos matplotlib para poder graficar
# y visualisar nuestros dacumentos 
!pip install matplotlib
# se usa pandas para el manejo y vizualizacion de datos de matrices
!pip install pandas
#usada para poder leer los dataframes
!pip install pandas_datareader
# para poder visualizar datos de manera resumida.
!pip install dataprep

#importamos librerias
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np




#importamos nuestro archivo csv
from google.colab import drive
drive.mount("/content/gdrive")
%cd "/content/gdrive/Shareddrives/Reto AI SEPTIMO"

In [119]:
# importamos archivo csv de nombres de las firmas que contienen las firmas, con informacion relevante de cada una de estas.
data = pd.read_csv('us2022q2a.csv')
df1 = pd.read_csv('us2022q2a.csv',names = data.columns)
df1 # se imprime el dataset, para ver si es el correcto

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
1,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.76167023,104,452000,NaN,2000,1
2,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,2679000,512000,0,4642000,45.2156075,73.75,452271.967,6,2000,2
3,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,2925000,528000,0,4902000,30.00323786,48.9375,453014.579,9,2000,3
4,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,3160000,830000,0,5265000,33.56684082,54.75,456366.381,12,2000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324442,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,10496.647,206.211,468.385,87699.257,5.29,5.29,41251.537,6.0,2021,2
324443,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,11309.171,207.635,411.237,78686.999,4.24,4.24,41251.537,9.0,2021,3
324444,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,10258.173,209.068,353.694,70913.334,2.88,2.88,41217.537,12.0,2021,4
324445,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,9214.059,210.512,295.754,65166.97,2.05,2.05,42447.037,3.0,2022,1
324446,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,9765.086,211.965,237.414,57241.873,1.14,1.14,43595.959,6.0,2022,2

In [67]:
# En esta seccion se lee el otro archivo csv, donde podremos obtener, el nombre de las formas, el ticker y el sector al que 
# pertenece la firma correspondiente
data = pd.read_csv('usfirms2022.csv')
df2 = pd.read_csv('usfirms2022.csv', names = data.columns)
df2 = df2[["Ticker","Name", "Sector NAICS\nlevel 1"]] #definimos las colunas que se usaran para armar el nuevo dataframe
df2 # de igual manera imprimimos el dataset

,Ticker,Name,Sector NAICS\nlevel 1
0,Ticker,Name,Sector NAICS\nlevel 1
1,FLWS,1 800 Flowers Com Inc,Retail Trade
2,TXG,"10x Genomics, Inc",Manufacturing
3,GOED,1847 Goedeker Inc,Retail Trade
4,ONEM,"1life Healthcare, Inc",Health Care and Social Assistance
...,...,...,...
3604,ZUO,"Zuora, Inc",Information
3605,ZWS,Zurn Elkay Water Solutions Corp,Manufacturing
3606,ZY,Zymergen Inc,"Professional, Scientific, and Technical Services"
3607,ZYNE,"Zynerba Pharmaceuticals, Inc",Manufacturing
3608,ZNGA,Zynga Inc,Information

In [68]:
# a traves de la función merge, juntamos estos dos datasets separados anteriormente
df = pd.merge(df1, df2, left_on='firm', right_on="Ticker")

# al tener mergeado ambos datasets, se procede a dropear filas que contengan valores nulos, y la columna de Ticker, ya que esta solo fue usada 
# .. para poder usarla de indice para mergear los datasets

#cabe mencionar que solo se realiza a las columnas más importantes del dataset
df = df.drop(columns=['Ticker'])
df = df.drop(df[df.firm.isnull()].index)
df = df.drop(df[df.revenue.isnull()].index)
df = df.drop(df[df.cogs.isnull()].index)
df = df.drop(df[df.adjprice.isnull()].index)
df #imprimimos el data set para visualizar como quedó

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,0,4642000,45.2156075,73.75,452271.967,6,2000,2,"Agilent Technologies, Inc",Manufacturing
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,0,4902000,30.00323786,48.9375,453014.579,9,2000,3,"Agilent Technologies, Inc",Manufacturing
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,0,5265000,33.56684082,54.75,456366.381,12,2000,4,"Agilent Technologies, Inc",Manufacturing
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,0,5541000,18.84034709,30.72999954,456769.737,3,2001,1,"Agilent Technologies, Inc",Manufacturing
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,0,5616000,19.92552195,32.5,457072.749,6,2001,2,"Agilent Technologies, Inc",Manufacturing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,468.385,87699.257,5.29,5.29,41251.537,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,411.237,78686.999,4.24,4.24,41251.537,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,353.694,70913.334,2.88,2.88,41217.537,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,295.754,65166.97,2.05,2.05,42447.037,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,237.414,57241.873,1.14,1.14,43595.959,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing

Se calculan las nuevas columnas, a traves de la funcion assign y a traves de formulas proporcionadas en clase:

In [120]:
# Market Value = (originalprice * sharesoutstanding)
df = df.assign(market_value=lambda x: x.originalprice.astype(np.float) * x.sharesoutstanding.astype(np.float))

# Book Value of the firm = (totalassets-totalliabilities)
df = df.assign(book_value=lambda x: x.totalassets.astype(np.float) - x.totalliabilities.astype(np.float))

# Print dfF y para observar si las nuevas columnas de BookValue y MarkertValue fueron creados de manera correcta
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,2,"Agilent Technologies, Inc",Manufacturing,3.335506e+07,4642000.000,0.139169,0.069936,0.000000,166000.000000,0.367036
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,3,"Agilent Technologies, Inc",Manufacturing,2.216940e+07,4902000.000,0.221116,0.067459,0.000000,155000.000000,0.342152
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,4,"Agilent Technologies, Inc",Manufacturing,2.498606e+07,5265000.000,0.210718,0.098516,0.000000,305000.000000,0.668323
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,1,"Agilent Technologies, Inc",Manufacturing,1.403653e+07,5541000.000,0.394756,0.060382,0.000000,154000.000000,0.337150
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,2,"Agilent Technologies, Inc",Manufacturing,1.485486e+07,5616000.000,0.378058,0.085132,0.000000,96000.000000,0.210032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,2.182206e+05,87699.257,0.401883,0.002100,0.004770,-9950.079320,-0.241205
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,3,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.749065e+05,78686.999,0.449880,0.002307,0.004569,-10582.250750,-0.256530
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,4,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.187065e+05,70913.334,0.597384,0.002576,0.004357,-8815.065594,-0.213867
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,1,"Zynerba Pharmaceuticals, Inc",Manufacturing,8.701643e+04,65166.970,0.748904,0.002830,0.003976,-8490.618890,-0.200029
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,4.969939e+04,57241.873,1.151762,0.003163,0.003543,-9853.006360,-0.226007

In [133]:
#Agregmamos book to market ratio al dataset en donde estamos trabajando
#BookToMarketRatio = bookvalue / marketvalue
df = df.assign(BookToMarketRatio=lambda x: x.book_value.astype(np.float) / x.market_value.astype(np.float))

#ShortFinancialLeverage = shortdebt / totalassets

df = df.assign(ShortFinancialLeverage=lambda x: x.shortdebt.astype(np.float) / x.totalassets.astype(np.float) )

#LongFinancialLeverage = longdebt / totalassests

df = df.assign(LongFinancialLeverage=lambda x: x.longdebt.astype(np.float) / x.totalassets.astype(np.float) )

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  # This is added back by InteractiveShellApp.init_path()

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,2,"Agilent Technologies, Inc",Manufacturing,3.335506e+07,4642000.000,0.139169,0.069936,0.000000,166000.000000,0.367036
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,3,"Agilent Technologies, Inc",Manufacturing,2.216940e+07,4902000.000,0.221116,0.067459,0.000000,155000.000000,0.342152
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,4,"Agilent Technologies, Inc",Manufacturing,2.498606e+07,5265000.000,0.210718,0.098516,0.000000,305000.000000,0.668323
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,1,"Agilent Technologies, Inc",Manufacturing,1.403653e+07,5541000.000,0.394756,0.060382,0.000000,154000.000000,0.337150
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,2,"Agilent Technologies, Inc",Manufacturing,1.485486e+07,5616000.000,0.378058,0.085132,0.000000,96000.000000,0.210032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,2.182206e+05,87699.257,0.401883,0.002100,0.004770,-9950.079320,-0.241205
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,3,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.749065e+05,78686.999,0.449880,0.002307,0.004569,-10582.250750,-0.256530
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,4,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.187065e+05,70913.334,0.597384,0.002576,0.004357,-8815.065594,-0.213867
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,1,"Zynerba Pharmaceuticals, Inc",Manufacturing,8.701643e+04,65166.970,0.748904,0.002830,0.003976,-8490.618890,-0.200029
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,4.969939e+04,57241.873,1.151762,0.003163,0.003543,-9853.006360,-0.226007

In [134]:
df.columns

Index(['firm', 'q', 'revenue', 'cogs', 'sgae', 'otheropexp', 'extraincome',
       'finexp', 'incometax', 'totalassets', 'totalliabilities', 'shortdebt',
       'longdebt', 'stockholderequity', 'adjprice', 'originalprice',
       'sharesoutstanding', 'fiscalmonth', 'year', 'cto', 'Name',
       'Sector NAICS\nlevel 1', 'market_value', 'book_value',
       'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage',
       'netincome', 'EPS'],
      dtype='object')

In [135]:
#EPS = netincome / #SharesOutstanding
#netincome = revenue - cogs - sgae - otheropexp - incometax - finexp + extraincome

df = df.assign(netincome=lambda x: x.revenue.astype(np.float) - x.cogs.astype(np.float) - x.sgae.astype(np.float) - x.otheropexp.astype(np.float) - x.incometax.astype(np.float) - x.finexp.astype(np.float) + x.extraincome.astype(np.float))

df = df.assign(EPS=lambda x: x.netincome.astype(np.float) / x.sharesoutstanding.astype(np.float) )

df['EPS']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

1         0.367036
2         0.342152
3         0.668323
4         0.337150
5         0.210032
            ...
323811   -0.241205
323812   -0.256530
323813   -0.213867
323814   -0.200029
323815   -0.226007
Name: EPS, Length: 153245, dtype: float64

In [136]:
df_commercial = df[(df['Sector NAICS\nlevel 1']=='Retail Trade') | (df['Sector NAICS\nlevel 1']=='Wholesale Trade')].copy()
df_commercial

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS
640,AAP,2002q3,788662,439000,278869,8248,4,16016,18170,2083203,...,3,"Advance Auto Parts, Inc",Retail Trade,1.880993e+06,456191.0,0.242527,0.005541,0.365411,28363.0,0.795252
641,AAP,2002q4,702417,389607,269884,9090,-3203,15485,6529,1965225,...,4,"Advance Auto Parts, Inc",Retail Trade,1.745366e+06,468356.0,0.268343,0.005882,0.368829,8619.0,0.241479
644,AAP,2003q3,849323,460579,306868,2522,13,5935,28268,2011249,...,3,"Advance Auto Parts, Inc",Retail Trade,2.601886e+06,597287.0,0.229559,0.012049,0.226769,45164.0,1.230695
645,AAP,2003q4,771668,404990,308684,1624,-410,4892,19796,1983071,...,4,"Advance Auto Parts, Inc",Retail Trade,3.004391e+06,631244.0,0.210107,0.026880,0.213195,31272.0,0.847274
648,AAP,2004q3,908412,486110,331055,0,-152,4531,33329,2125947,...,3,"Advance Auto Parts, Inc",Retail Trade,2.575440e+06,759748.0,0.294997,0.013421,0.149569,53235.0,0.711057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323271,ZUMZ,2021q2,279069.0,175900.0,68889.0,0.0,254.0,-975.0,9124.0,1017804.0,...,2,Zumiez Inc,Retail Trade,1.263012e+06,581781.0,0.460630,0.066253,0.234380,26385.0,1.023427
323272,ZUMZ,2021q3,268666.0,163701.0,73011.0,0.0,-151.0,-965.0,8770.0,1030742.0,...,3,Zumiez Inc,Retail Trade,1.000538e+06,594296.0,0.593977,0.063880,0.216391,23998.0,0.953648
323273,ZUMZ,2021q4,289455.0,174791.0,74822.0,0.0,468.0,-893.0,10501.0,978189.0,...,4,Zumiez Inc,Retail Trade,1.102706e+06,531742.0,0.482215,0.065825,0.225441,30702.0,1.336157
323274,ZUMZ,2022q1,346677.0,212744.0,82198.0,0.0,-1462.0,-759.0,12828.0,862012.0,...,1,Zumiez Inc,Retail Trade,7.612303e+05,468318.0,0.615212,0.073754,0.237014,38204.0,1.917652
323275,ZUMZ,2022q2,220686.0,148312.0,71877.0,0.0,172.0,-492.0,1558.0,768114.0,...,2,Zumiez Inc,Retail Trade,5.059484e+05,376897.0,0.744932,0.090256,0.270732,-397.0,-0.020401

In [137]:
df_commercial.groupby('Sector NAICS\nlevel 1')['firm'].nunique()

Sector NAICS\nlevel 1
Retail Trade       152
Wholesale Trade     79
Name: firm, dtype: int64

In [138]:
df_commercial.columns

Index(['firm', 'q', 'revenue', 'cogs', 'sgae', 'otheropexp', 'extraincome',
       'finexp', 'incometax', 'totalassets', 'totalliabilities', 'shortdebt',
       'longdebt', 'stockholderequity', 'adjprice', 'originalprice',
       'sharesoutstanding', 'fiscalmonth', 'year', 'cto', 'Name',
       'Sector NAICS\nlevel 1', 'market_value', 'book_value',
       'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage',
       'netincome', 'EPS'],
      dtype='object')

In [139]:
#Se procede a agrupar el dataset generado de acuerdo a la firma y de acuerdo a su periodo , es decir los quarters
df_commercial.set_index(['firm','q'], inplace=True)

In [140]:
#En esta parte se procede a realizar el multiindex del dataset para poder realizar el shift correspondiente
df_commercial

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ... cto  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...   3
     2002q4      6529     1965225          1496869     11559  ...   4
     2003q3     28268     2011249          1413962     24233  ...   3
     2003q4     19796     1983071          1351827     53305  ...   4
     2004q3     33329     2125947          1366199     28533  ...   3
...               ...         ...              ...       ...  ...  ..
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...   2
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...   3
     2021q4   10501.0    978189.0         446447.0   64389.0  ...   4
     2022q1   12828.0    862012.0         393694.0   63577.0  ...   1
     2022q2    1558.0    768114.0         391217.0   69327.0  ...   2

                                Name Sector NAICS\nlevel 1  market_value  \
firm q
AAP  2002q3  Advance Auto Parts, Inc          Retail Trade  1.880993e+06
     2002q4  Advance Auto Parts, Inc          Retail Trade  1.745366e+06
     2003q3  Advance Auto Parts, Inc          Retail Trade  2.601886e+06
     2003q4  Advance Auto Parts, Inc          Retail Trade  3.004391e+06
     2004q3  Advance Auto Parts, Inc          Retail Trade  2.575440e+06
...                              ...                   ...           ...
ZUMZ 2021q2               Zumiez Inc          Retail Trade  1.263012e+06
     2021q3               Zumiez Inc          Retail Trade  1.000538e+06
     2021q4               Zumiez Inc          Retail Trade  1.102706e+06
     2022q1               Zumiez Inc          Retail Trade  7.612303e+05
     2022q2               Zumiez Inc          Retail Trade  5.059484e+05

            book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3   456191.0          0.242527               0.005541
     2002q4   468356.0          0.268343               0.005882
     2003q3   597287.0          0.229559               0.012049
     2003q4   631244.0          0.210107               0.026880
     2004q3   759748.0          0.294997               0.013421
...                ...               ...                    ...
ZUMZ 2021q2   581781.0          0.460630               0.066253
     2021q3   594296.0          0.593977               0.063880
     2021q4   531742.0          0.482215               0.065825
     2022q1   468318.0          0.615212               0.073754
     2022q2   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS
firm q
AAP  2002q3              0.365411   28363.0  0.795252
     2002q4              0.368829    8619.0  0.241479
     2003q3              0.226769   45164.0  1.230695
     2003q4              0.213195   31272.0  0.847274
     2004q3              0.149569   53235.0  0.711057
...                           ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427
     2021q3              0.216391   23998.0  0.953648
     2021q4              0.225441   30702.0  1.336157
     2022q1              0.237014   38204.0  1.917652
     2022q2              0.270732    -397.0 -0.020401

[11370 rows x 27 columns]

In [141]:
#EPSP = EPS \ originalprice
df_commercial = df_commercial.assign(EPSP=lambda x: x.EPS.astype(np.float) / x.originalprice.astype(np.float) )

df_commercial

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ...  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...
     2002q4      6529     1965225          1496869     11559  ...
     2003q3     28268     2011249          1413962     24233  ...
     2003q4     19796     1983071          1351827     53305  ...
     2004q3     33329     2125947          1366199     28533  ...
...               ...         ...              ...       ...  ...
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...
     2021q4   10501.0    978189.0         446447.0   64389.0  ...
     2022q1   12828.0    862012.0         393694.0   63577.0  ...
     2022q2    1558.0    768114.0         391217.0   69327.0  ...

                                Name Sector NAICS\nlevel 1  market_value  \
firm q
AAP  2002q3  Advance Auto Parts, Inc          Retail Trade  1.880993e+06
     2002q4  Advance Auto Parts, Inc          Retail Trade  1.745366e+06
     2003q3  Advance Auto Parts, Inc          Retail Trade  2.601886e+06
     2003q4  Advance Auto Parts, Inc          Retail Trade  3.004391e+06
     2004q3  Advance Auto Parts, Inc          Retail Trade  2.575440e+06
...                              ...                   ...           ...
ZUMZ 2021q2               Zumiez Inc          Retail Trade  1.263012e+06
     2021q3               Zumiez Inc          Retail Trade  1.000538e+06
     2021q4               Zumiez Inc          Retail Trade  1.102706e+06
     2022q1               Zumiez Inc          Retail Trade  7.612303e+05
     2022q2               Zumiez Inc          Retail Trade  5.059484e+05

            book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3   456191.0          0.242527               0.005541
     2002q4   468356.0          0.268343               0.005882
     2003q3   597287.0          0.229559               0.012049
     2003q4   631244.0          0.210107               0.026880
     2004q3   759748.0          0.294997               0.013421
...                ...               ...                    ...
ZUMZ 2021q2   581781.0          0.460630               0.066253
     2021q3   594296.0          0.593977               0.063880
     2021q4   531742.0          0.482215               0.065825
     2022q1   468318.0          0.615212               0.073754
     2022q2   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS      EPSP
firm q
AAP  2002q3              0.365411   28363.0  0.795252  0.015079
     2002q4              0.368829    8619.0  0.241479  0.004938
     2003q3              0.226769   45164.0  1.230695  0.017358
     2003q4              0.213195   31272.0  0.847274  0.010409
     2004q3              0.149569   53235.0  0.711057  0.020670
...                           ...       ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427  0.020891
     2021q3              0.216391   23998.0  0.953648  0.023985
     2021q4              0.225441   30702.0  1.336157  0.027842
     2022q1              0.237014   38204.0  1.917652  0.050187
     2022q2              0.270732    -397.0 -0.020401 -0.000785

[11370 rows x 28 columns]

In [142]:
df_commercial['R'] = np.log(df_commercial['adjprice'].astype(np.float)) - np.log(df_commercial.groupby(['firm'])['adjprice'].shift(4).astype(np.float))
df_commercial['R']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

firm  q
AAP   2002q3         NaN
      2002q4         NaN
      2003q3         NaN
      2003q4         NaN
      2004q3    0.265830
                  ...
ZUMZ  2021q2    0.581803
      2021q3    0.357106
      2021q4    0.266038
      2022q1   -0.115775
      2022q2   -0.633520
Name: R, Length: 11370, dtype: float64

In [143]:
df_commercial['RNQ'] = df_commercial.groupby(['firm'])['R'].shift(-1)

In [144]:
df_commercial['RNQ']

firm  q
AAP   2002q3         NaN
      2002q4         NaN
      2003q3         NaN
      2003q4    0.265830
      2004q3    0.864158
                  ...
ZUMZ  2021q2    0.357106
      2021q3    0.266038
      2021q4   -0.115775
      2022q1   -0.633520
      2022q2         NaN
Name: RNQ, Length: 11370, dtype: float64

In [146]:
df_commercial

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ...  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...
     2002q4      6529     1965225          1496869     11559  ...
     2003q3     28268     2011249          1413962     24233  ...
     2003q4     19796     1983071          1351827     53305  ...
     2004q3     33329     2125947          1366199     28533  ...
...               ...         ...              ...       ...  ...
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...
     2021q4   10501.0    978189.0         446447.0   64389.0  ...
     2022q1   12828.0    862012.0         393694.0   63577.0  ...
     2022q2    1558.0    768114.0         391217.0   69327.0  ...

             market_value book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3  1.880993e+06   456191.0          0.242527               0.005541
     2002q4  1.745366e+06   468356.0          0.268343               0.005882
     2003q3  2.601886e+06   597287.0          0.229559               0.012049
     2003q4  3.004391e+06   631244.0          0.210107               0.026880
     2004q3  2.575440e+06   759748.0          0.294997               0.013421
...                   ...        ...               ...                    ...
ZUMZ 2021q2  1.263012e+06   581781.0          0.460630               0.066253
     2021q3  1.000538e+06   594296.0          0.593977               0.063880
     2021q4  1.102706e+06   531742.0          0.482215               0.065825
     2022q1  7.612303e+05   468318.0          0.615212               0.073754
     2022q2  5.059484e+05   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS      EPSP         R  \
firm q
AAP  2002q3              0.365411   28363.0  0.795252  0.015079       NaN
     2002q4              0.368829    8619.0  0.241479  0.004938       NaN
     2003q3              0.226769   45164.0  1.230695  0.017358       NaN
     2003q4              0.213195   31272.0  0.847274  0.010409       NaN
     2004q3              0.149569   53235.0  0.711057  0.020670  0.265830
...                           ...       ...       ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427  0.020891  0.581803
     2021q3              0.216391   23998.0  0.953648  0.023985  0.357106
     2021q4              0.225441   30702.0  1.336157  0.027842  0.266038
     2022q1              0.237014   38204.0  1.917652  0.050187 -0.115775
     2022q2              0.270732    -397.0 -0.020401 -0.000785 -0.633520

                  RNQ
firm q
AAP  2002q3       NaN
     2002q4       NaN
     2003q3       NaN
     2003q4  0.265830
     2004q3  0.864158
...               ...
ZUMZ 2021q2  0.357106
     2021q3  0.266038
     2021q4 -0.115775
     2022q1 -0.633520
     2022q2       NaN

[11370 rows x 30 columns]

In [147]:
#En esta parte se realiza el filtro para solamente dejar el penultimo periodo, en este caso el primer cuarto del año 2022
a_threshold = '2022q1'
df_commercial = df_commercial.query('q == @a_threshold')

In [148]:
#Realizamos comprobación de lo realizado, imprimiendo el dataset
df_commercial

,,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,...,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS,EPSP,R,RNQ
firm,q,,,,,,,,,,,,,,,,,,,,,
ABC,2022q1,57719448,55484368,1378528,76395,-6283,52916,172944,57308153,56402088,1809660,...,3.235565e+07,906065.0,0.028003,0.031578,0.081083,548014.0,2.620354,0.016937,0.284559,0.225304
ABG,2022q1,3911800,3119800,473900,-2700,33100,40200,76000,7860100,5677600,487400,...,3.714688e+06,2182500.0,0.587532,0.062009,0.454702,237700.0,10.251073,0.063989,-0.204239,-0.011916
ACI,2022q1,17383500,12399200,4321700,-1700,47500,108000,148700,28123000,25098400,1469400,...,1.606368e+07,3024600.0,0.188288,0.052249,0.446474,455100.0,0.942006,0.028331,0.661405,NaN
AE,2022q1,774245,0,766097,0,0,90,1968,470117,304596,5551,...,1.681192e+05,165521.0,0.984546,0.011808,0.028393,6090.0,1.394274,0.036224,0.350570,0.181133
AEO,2022q1,1507937,1019252,396787,11944,-3865,8594,17067,3786643,2362971,311005,...,2.836553e+06,1423672.0,0.501902,0.082132,0.394936,50428.0,0.298669,0.017778,-0.520678,-1.181960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,2022q1,2501029.0,1375792.0,600665.0,0.0,0.0,-89.0,121720.0,4625620.0,2961413.0,217409.0,...,1.037604e+07,1664207.0,0.160389,0.047001,0.230637,402941.0,5.630902,0.038834,-0.195987,-0.346125
WSO,2022q1,1523570.0,1073212.0,283354.0,-4045.0,-21592.0,558.0,35601.0,3473889.0,1393174.0,86812.0,...,1.181179e+07,2080715.0,0.176156,0.024990,0.137683,113298.0,2.922088,0.009592,0.182851,-0.154603
WSTG,2022q1,71319.0,59338.0,8606.0,0.0,143.0,10.0,796.0,188770.0,134861.0,498.0,...,1.537496e+05,53909.0,0.350628,0.002638,0.009027,2712.0,0.609430,0.017639,0.341710,0.304832
ZEUS,2022q1,696333.0,555107.0,88104.0,0.0,-6.0,1998.0,13816.0,1043703.0,580917.0,5801.0,...,4.278175e+05,462786.0,1.081737,0.005558,0.318032,37302.0,3.353381,0.087191,0.272373,-0.124839
ZUMZ,2022q1,346677.0,212744.0,82198.0,0.0,-1462.0,-759.0,12828.0,862012.0,393694.0,63577.0,...,7.612303e+05,468318.0,0.615212,0.073754,0.237014,38204.0,1.917652,0.050187,-0.115775,-0.633520

In [150]:
#creamos nueva matriz para poder calcular la matriz de varianza covarianza.

matrixOriginal = df_commercial[['EPSP','BookToMarketRatio','ShortFinancialLeverage','LongFinancialLeverage']]
matOriginal = matrixOriginal.dropna()
matOriginal

,,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
firm,q,,,,
ABC,2022q1,0.016937,0.028003,0.031578,0.081083
ABG,2022q1,0.063989,0.587532,0.062009,0.454702
ACI,2022q1,0.028331,0.188288,0.052249,0.446474
AE,2022q1,0.036224,0.984546,0.011808,0.028393
AEO,2022q1,0.017778,0.501902,0.082132,0.394936
...,...,...,...,...,...
WSM,2022q1,0.038834,0.160389,0.047001,0.230637
WSO,2022q1,0.009592,0.176156,0.024990,0.137683
WSTG,2022q1,0.017639,0.350628,0.002638,0.009027
ZEUS,2022q1,0.087191,1.081737,0.005558,0.318032
ZUMZ,2022q1,0.050187,0.615212,0.073754,0.237014

In [151]:
#se realiza el calculo de la matriz de varianza covarianza con algebra matricial


X = matrixOriginal


n = X.count()['EPSP']
X_trans = X.T

shape = X.shape

M_x = X_trans.dot(np.ones((shape[0],1)))


varCov = (1/(n-1)) * (X_trans.dot(X) - (1/n) * (M_x.dot(M_x.T)))

varCov

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,0.010760,-0.002341,-0.001401,-0.000789
BookToMarketRatio,-0.002341,0.178927,0.000294,-0.038288
ShortFinancialLeverage,-0.001401,0.000294,0.005086,0.003690
LongFinancialLeverage,-0.000789,-0.038288,0.003690,0.130439

In [152]:
# calculamos la matriz con funciones de numpy para poder comprovar el resultado de la variable
X.cov()

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,0.010760,-0.002341,-0.001401,-0.000789
BookToMarketRatio,-0.002341,0.178927,0.000294,-0.038288
ShortFinancialLeverage,-0.001401,0.000294,0.005086,0.003690
LongFinancialLeverage,-0.000789,-0.038288,0.003690,0.130439

In [153]:
#calculamos la correlacion del las variables con algebra matricial

df_matrix_std = np.matrix(X.std())
corr_matrix = varCov / (df_matrix_std.T * df_matrix_std)
corr_matrix

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,1.000000,-0.053352,-0.189421,-0.021054
BookToMarketRatio,-0.053352,1.000000,0.009743,-0.250625
ShortFinancialLeverage,-0.189421,0.009743,1.000000,0.143269
LongFinancialLeverage,-0.021054,-0.250625,0.143269,1.000000

In [154]:
#calculamos la correlación.
X.corr()

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,1.000000,-0.053352,-0.189421,-0.021054
BookToMarketRatio,-0.053352,1.000000,0.009743,-0.250625
ShortFinancialLeverage,-0.189421,0.009743,1.000000,0.143269
LongFinancialLeverage,-0.021054,-0.250625,0.143269,1.000000

1.2 Corre pruebas estadísticas para detectar outliers y leverage points. Tiene que utilizar álgebra matricial para las pruebas y explicar claramente cómo funcionan las pruebas. Puede utilizar funciones de Python para corroborar resultados.

**Calculo de Leverages**

In [155]:
df_leverage_inicial = matOriginal[['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']]
df_leverage_inicial = df_leverage_inicial.dropna().reset_index(drop="True")
x = np.matrix(df_leverage_inicial)

x_ones = np.ones((df_leverage_inicial.count()['EPSP'], 1))


x = np.c_[x_ones, x]
h = x * np.linalg.inv(x.T * x) * x.T

df_leverage = pd.DataFrame(data = {'Leverage': np.diag(h)})
df_leverage = pd.concat([df_leverage_inicial, df_leverage], axis=1, join = "inner")

thrh = 3 * (len(['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']) + 1) / n
df_leverage[df_leverage['Leverage'] > thrh]

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,Leverage
52,-0.012599,0.002520,0.390771,0.495715,0.109552
55,-0.297112,-0.515181,0.245941,0.168998,0.098372
66,0.006202,-0.286263,0.055564,3.097009,0.268691
72,0.043602,1.977040,0.040343,0.365904,0.067080
85,-0.225033,2.777692,0.051330,0.049725,0.154423
114,-0.000137,0.693041,0.374621,0.131757,0.100990
118,-0.321029,0.402530,0.227390,0.127758,0.066907
122,0.101949,0.780155,0.323371,0.184720,0.083521
132,-0.407474,0.206991,0.026470,0.422866,0.082932
163,-0.797105,0.202897,0.068143,0.626674,0.280756
209,-0.851169,1.667919,0.306272,0.297752,0.345269
217,0.012489,-0.083368,0.277168,3.968653,0.471541
219,-0.110929,1.941196,0.000000,0.723942,0.086787

In [156]:
df_commercial = df_commercial.dropna()
df_commercial

,,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,...,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS,EPSP,R,RNQ
firm,q,,,,,,,,,,,,,,,,,,,,,
ABC,2022q1,57719448,55484368,1378528,76395,-6283,52916,172944,57308153,56402088,1809660,...,3.235565e+07,906065.0,0.028003,0.031578,0.081083,548014.0,2.620354,0.016937,0.284559,0.225304
ABG,2022q1,3911800,3119800,473900,-2700,33100,40200,76000,7860100,5677600,487400,...,3.714688e+06,2182500.0,0.587532,0.062009,0.454702,237700.0,10.251073,0.063989,-0.204239,-0.011916
AE,2022q1,774245,0,766097,0,0,90,1968,470117,304596,5551,...,1.681192e+05,165521.0,0.984546,0.011808,0.028393,6090.0,1.394274,0.036224,0.350570,0.181133
AEO,2022q1,1507937,1019252,396787,11944,-3865,8594,17067,3786643,2362971,311005,...,2.836553e+06,1423672.0,0.501902,0.082132,0.394936,50428.0,0.298669,0.017778,-0.520678,-1.181960
AEY,2022q1,23759,18001,6921,2,-168,61,0,23872,15536,1894,...,1.811049e+04,8336.0,0.460286,0.079340,0.127011,-1394.0,-0.106991,-0.076972,-0.626208,-0.732063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,2022q1,2501029.0,1375792.0,600665.0,0.0,0.0,-89.0,121720.0,4625620.0,2961413.0,217409.0,...,1.037604e+07,1664207.0,0.160389,0.047001,0.230637,402941.0,5.630902,0.038834,-0.195987,-0.346125
WSO,2022q1,1523570.0,1073212.0,283354.0,-4045.0,-21592.0,558.0,35601.0,3473889.0,1393174.0,86812.0,...,1.181179e+07,2080715.0,0.176156,0.024990,0.137683,113298.0,2.922088,0.009592,0.182851,-0.154603
WSTG,2022q1,71319.0,59338.0,8606.0,0.0,143.0,10.0,796.0,188770.0,134861.0,498.0,...,1.537496e+05,53909.0,0.350628,0.002638,0.009027,2712.0,0.609430,0.017639,0.341710,0.304832
ZEUS,2022q1,696333.0,555107.0,88104.0,0.0,-6.0,1998.0,13816.0,1043703.0,580917.0,5801.0,...,4.278175e+05,462786.0,1.081737,0.005558,0.318032,37302.0,3.353381,0.087191,0.272373,-0.124839
ZUMZ,2022q1,346677.0,212744.0,82198.0,0.0,-1462.0,-759.0,12828.0,862012.0,393694.0,63577.0,...,7.612303e+05,468318.0,0.615212,0.073754,0.237014,38204.0,1.917652,0.050187,-0.115775,-0.633520

In [157]:
import statsmodels.api as sm

In [158]:


var_dep = ['R']
var_ind = ['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']


modelo = sm.OLS(df_commercial[var_dep], sm.add_constant(df_commercial[var_ind])).fit()

inf = modelo.get_influence()

lev = inf.hat_matrix_diag

sm_leverage = pd.DataFrame(data={'Leverage':lev})

sm_leverage

sm_leverage = pd.concat([df_commercial[var_ind].reset_index(drop="True"), sm_leverage], axis = 1, join ="inner")

sm_leverage[sm_leverage['Leverage'] > thrh]

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,Leverage
48,-0.012599,0.002520,0.390771,0.495715,0.117908
59,0.006202,-0.286263,0.055564,3.097009,0.280862
64,0.043602,1.977040,0.040343,0.365904,0.073528
75,-0.225033,2.777692,0.051330,0.049725,0.164328
95,0.122724,-0.761072,0.138555,0.190324,0.068176
98,-0.000137,0.693041,0.374621,0.131757,0.105788
101,-0.321029,0.402530,0.227390,0.127758,0.074939
105,0.101949,0.780155,0.323371,0.184720,0.085990
114,-0.407474,0.206991,0.026470,0.422866,0.089911
144,-0.797105,0.202897,0.068143,0.626674,0.300856
186,-0.851169,1.667919,0.306272,0.297752,0.364343
192,0.012489,-0.083368,0.277168,3.968653,0.491759
194,-0.110929,1.941196,0.000000,0.723942,0.092704

In [159]:
prediccions = modelo.predict(sm.add_constant(df_commercial[var_ind]))

errores = np.matrix(df_commercial[var_dep]).T - np.matrix(prediccions)

mse = np.square(errores).sum() / (df_commercial[var_ind].count()['EPSP'] - (len(var_ind) + 1))
squared_error = np.sqrt(mse * (1 - lev))

std_residuals = pd.DataFrame((errores / squared_error).T)
std_residuals.columns = ['std_residuals']
std_residuals = pd.concat([df_commercial['R'].reset_index(drop="True"), std_residuals], axis = 1)
std_residuals = std_residuals.dropna()
std_residuals[std_residuals['std_residuals'] > 3]

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

            R  std_residuals
144 -0.849418       3.687943

In [160]:
influence_sum = inf.summary_frame()
influence_sum

,,dfb_const,dfb_EPSP,dfb_BookToMarketRatio,dfb_ShortFinancialLeverage,dfb_LongFinancialLeverage,cooks_d,standard_resid,hat_diag,dffits_internal,student_resid,dffits
firm,q,,,,,,,,,,,
ABC,2022q1,0.078560,-0.003580,-0.057465,-0.008551,-0.042708,0.001310,0.645482,0.015472,0.080918,0.644523,0.080798
ABG,2022q1,-0.001332,-0.019446,-0.012442,-0.001920,-0.013289,0.000332,-0.460628,0.007762,-0.040742,-0.459705,-0.040660
AE,2022q1,0.020543,0.018744,0.072988,-0.039060,-0.029918,0.002940,0.967297,0.015466,0.121237,0.967139,0.121217
AEO,2022q1,-0.015274,-0.010548,-0.004313,-0.018608,-0.007813,0.000817,-0.846254,0.005671,-0.063910,-0.845642,-0.063864
AEY,2022q1,-0.031802,0.027565,0.010851,-0.009056,0.023980,0.000538,-0.508134,0.010319,-0.051885,-0.507176,-0.051787
...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,2022q1,-0.036895,-0.006528,0.025797,0.000738,0.014399,0.000366,-0.444078,0.009184,-0.042754,-0.443172,-0.042667
WSO,2022q1,0.051089,-0.004429,-0.030605,-0.012092,-0.024001,0.000556,0.505718,0.010758,0.052737,0.504761,0.052637
WSTG,2022q1,0.083533,-0.004038,-0.029145,-0.035966,-0.051125,0.001677,0.828402,0.012069,0.091560,0.827740,0.091487
ZEUS,2022q1,-0.012389,0.028129,0.055140,-0.025470,0.016395,0.001104,0.498005,0.021776,0.074302,0.497052,0.074160
ZUMZ,2022q1,-0.003022,-0.004831,-0.002735,-0.002941,0.002134,0.000029,-0.143393,0.006967,-0.012011,-0.143036,-0.011981

**Analsis de Multicolinearidad**

In [161]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [162]:
multicol_df = pd.DataFrame()

var_df = pd.concat([df_commercial[var_dep].reset_index(drop="True"), df_commercial[var_ind].reset_index(drop="True")], axis = 1)

multicol_df['variable'] = var_df.columns
multicol_df['valor'] = [vif(var_df.values, i) for i in range(len(var_df.columns))]
multicol_df

                 variable     valor
0                       R  1.561750
1                    EPSP  1.405201
2       BookToMarketRatio  1.435592
3  ShortFinancialLeverage  1.615324
4   LongFinancialLeverage  1.386283

Estima e interpreta un modelo de regresión múltiple después de atender los problemas anteriores. Tiene que utilizar álgebra matricial para estimar coeficientes y errores estándar del modelo de regresión, y utilizar funciones de Python para corroborar resultados.

In [163]:
print(modelo.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      R   R-squared:                       0.325
Model:                            OLS   Adj. R-squared:                  0.311
Method:                 Least Squares   F-statistic:                     23.71
Date:                Sat, 15 Oct 2022   Prob (F-statistic):           5.09e-16
Time:                        19:19:29   Log-Likelihood:                -133.90
No. Observations:                 202   AIC:                             277.8
Df Residuals:                     197   BIC:                             294.4
Df Model:                           4
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     -0.0411      0.068     -0.600      0.549      -0.176       0.094
EPSP                       2.7797      0.319      8.706      0.000       2.150       3.409
BookToMarketRatio         -0.1597      0.081     -1.965      0.051      -0.320       0.001
ShortFinancialLeverage    -0.7931      0.469     -1.691      0.092      -1.718       0.132
LongFinancialLeverage      0.0443      0.093      0.474      0.636      -0.140       0.229
==============================================================================
Omnibus:                       28.487   Durbin-Watson:                   2.237
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               49.823
Skew:                          -0.739   Prob(JB):                     1.52e-11
Kurtosis:                       4.933   Cond. No.                         16.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [164]:
var_df = pd.DataFrame(data=df_commercial[var_ind])
var_df = var_df.dropna()


x = np.matrix(var_df)
x_ones = np.ones((var_df.count()['EPSP'], 1))
x = np.c_[x_ones, x]

y = np.matrix(df_commercial[var_dep])
bs = pd.DataFrame(np.linalg.inv(x.T * x) * x.T * y)
variables_df = var_ind + ["const"]
bs.index = variables_df
bs

                               0
EPSP                   -0.041105
BookToMarketRatio       2.779738
ShortFinancialLeverage -0.159704
LongFinancialLeverage  -0.793063
const                   0.044317

In [165]:
err = y - x * np.matrix(bs)
var_cov_error = err * err.T
var_error = np.diag(var_cov_error)
print(np.matrix(var_error))

[[9.27233757e-02 4.75893980e-02 2.08230366e-01 1.60962580e-01
  5.77624997e-02 2.90839066e-02 1.00895795e-02 1.11306396e-02
  1.01971005e+00 1.89061440e-04 2.12831796e-01 9.50175461e-03
  2.44966814e-02 1.38997562e-01 4.14079221e-01 1.40781850e-02
  2.80869083e-01 5.64836641e-03 9.29038099e-01 5.13538631e-02
  4.16265600e-02 3.25222764e-03 3.78658462e-02 1.24847362e-01
  3.12977735e-01 1.82991726e-01 2.26590928e-05 7.86287529e-02
  8.05522192e-04 2.20314409e-01 2.07373150e-01 4.81093312e-02
  6.68574299e-02 2.79448643e-04 2.92408489e-01 7.63125579e-03
  4.05074528e-02 2.14524018e-02 2.69071422e-01 4.73619908e-01
  4.87061828e-02 3.74459581e-04 2.17401400e-01 8.46837125e-01
  3.23114737e-02 2.79049521e-01 8.73925709e-01 1.86208250e-01
  1.79645808e-01 1.67751336e-01 4.37884402e-05 1.54547361e-02
  9.58819732e-01 2.06732019e-02 1.96493555e-01 9.92060876e-02
  2.42440656e-02 9.36220758e-02 1.68174914e-01 2.12468691e-02
  4.31980507e-04 2.22527776e-01 1.21602956e-03 3.56809336e-03
  1.99278374e-01 5.04202075e-02 3.49593345e-02 2.00119227e-02
  2.08457899e-01 1.27508717e-02 9.92885238e-03 9.29610689e-02
  1.71301441e-02 3.66575477e-05 4.57414705e-02 1.20937844e+00
  1.95381889e-03 2.09344850e-02 4.42635055e-04 3.20649218e-01
  2.25747719e+00 7.49023620e-02 5.48658556e-02 1.06762914e-03
  1.32222945e+00 1.05380358e-01 6.76417194e-02 8.77996238e-02
  1.56268101e-01 1.20811248e+00 2.78317185e-02 1.08510111e-01
  1.15987802e-03 1.67239220e-01 5.08573981e-03 1.44202051e+00
  2.66745797e-04 1.54969512e-01 3.95040785e-01 1.37079858e+00
  7.08388010e-02 2.56467651e-04 3.85434534e-03 2.01380091e-02
  6.37887124e-02 6.52839187e-02 6.63854659e-02 3.71245516e-02
  1.12484768e-01 1.81184200e-02 1.82613930e-01 7.15007881e-03
  6.37266022e-02 2.31264864e-01 2.12954795e+00 1.78174787e-01
  1.69899657e-01 1.10587889e-01 8.16448591e-03 8.43175425e-02
  4.63360821e-02 1.01035937e-01 5.53316879e-02 7.11398582e-04
  1.71464530e-02 8.36565670e-02 3.74309842e-01 3.59807382e-02
  2.16148099e-02 9.77852640e-02 1.01814044e-01 9.38339616e-02
  1.64947014e-02 8.28013112e-02 4.62981976e-02 9.28086856e-04
  4.74357018e-02 4.02459469e-02 5.39691136e-02 1.02159249e+00
  4.38547645e-01 2.95333849e-02 1.20150771e-02 2.53564809e-01
  2.14945634e+00 7.93815266e-01 6.66346103e-01 9.68446508e-03
  4.88528784e-02 4.18835717e-02 5.98582223e-02 4.90198553e-02
  2.70803240e-01 1.86728891e-03 5.98887651e-02 9.44631387e-02
  2.30948261e-03 1.08861087e-01 1.93185673e+00 4.91146608e-02
  3.01598738e-01 1.45741263e-02 1.42242785e-04 3.50027441e-03
  3.79086211e-02 3.45340987e-01 3.72318657e-01 8.81550431e-03
  4.10655695e-01 8.71997677e-01 2.77661788e-02 8.65152947e-03
  2.62186546e-02 8.12198073e-04 5.17245714e-04 1.13789770e-01
  8.90338280e-02 9.74350761e-02 1.71069792e-01 5.98671562e-02
  1.08144188e-02 2.37678671e-03 5.58071535e-02 4.08313420e-02
  6.00151604e-03 1.63770471e-01 4.76214214e-02 1.26627970e+00
  9.88139142e-01 1.54534708e-03 2.07360657e-01 9.80891120e-02
  5.76968890e-02 2.94129027e+00 1.07063535e-01 1.36406850e-01
  2.81109722e-02 4.41677639e-02 5.71890577e-02 1.53250840e-01
  5.48402189e-02 4.61541600e-03]]