In [1]:
# Se instala los paquetes y librerias necesarias para poder realizar el analizis de la situacion problema, utilizamos matplotlib para poder graficar
# y visualisar nuestros dacumentos 
!pip install matplotlib
# se usa pandas para el manejo y vizualizacion de datos de matrices
!pip install pandas
#usada para poder leer los dataframes
!pip install pandas_datareader
# para poder visualizar datos de manera resumida.
!pip install dataprep

#importamos librerias
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np




#importamos nuestro archivo csv
from google.colab import drive
drive.mount("/content/gdrive")
%cd "/content/gdrive/Shareddrives/Reto AI SEPTIMO"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (1.24.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dataprep
  Downloading dataprep-0.4.3-py3-none-any.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 2.3 MB/s
Collecting dask[array,dataframe,delayed]<2022.0,>=2021.11
  Downloading dask-2021.12.0-py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 59.3 MB/s
Requirement already satisfied: ipywidgets<8.0,>=7.5 in /usr/local/lib/python3.7/dist-packages (from dataprep) (7.7.1)
Collecting jinja2<4,>=3
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 36.3 MB/s
Collecting scipy<=1.7.1
  Downloading scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 1.3 MB/s
Collecting varname<0.9.0,>=0.8.1
  Downloading varname-0.8.3-py3-none-any.whl (21 kB)
Collecting python-crfsuite<0.10.0,>=0.9.7
  Downloading python_crfsuite-0.9.8-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (965 kB)
     |████████████████████████████████| 965 kB 54.2 MB/s
Requirement already satisfied: sqlalchemy<2.0.0,>=1.4.32 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.4.41)
Collecting python-Levenshtein<0.13.0,>=0.12.2
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 6.5 MB/s
Collecting jsonpath-ng<2.0,>=1.5
  Downloading jsonpath_ng-1.5.3-py3-none-any.whl (29 kB)
Collecting pystache<0.7.0,>=0.6.0
  Downloading pystache-0.6.0.tar.gz (78 kB)
     |████████████████████████████████| 78 kB 7.5 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: aiohttp<4.0,>=3.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.8.3)
Requirement already satisfied: nltk<4.0.0,>=3.6.7 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.7)
Collecting metaphone<0.7,>=0.6
  Downloading Metaphone-0.6.tar.gz (14 kB)
Collecting flask<3,>=2
  Downloading Flask-2.2.2-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 11.9 MB/s
Requirement already satisfied: pydantic<2.0,>=1.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.9.2)
Requirement already satisfied: bokeh<3,>=2 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2.3.3)
Collecting flask_cors<4.0.0,>=3.0.10
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Collecting regex<2022.0.0,>=2021.8.3
  Downloading regex-2021.11.10-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (749 kB)
     |████████████████████████████████| 749 kB 71.8 MB/s
Requirement already satisfied: wordcloud<2.0,>=1.8 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.8.2.2)
Requirement already satisfied: numpy<2.0,>=1.21 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.21.6)
Requirement already satisfied: tqdm<5.0,>=4.48 in /usr/local/lib/python3.7/dist-packages (from dataprep) (4.64.1)
Collecting python-stdnum<2.0,>=1.16
  Downloading python_stdnum-1.17-py2.py3-none-any.whl (943 kB)
     |████████████████████████████████| 943 kB 57.9 MB/s
Requirement already satisfied: pandas<2.0,>=1.1 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.3.5)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (0.13.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (6.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.8.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (2.1.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (22.1.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (4.1.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (4.0.2)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (21.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (2.8.2)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (6.0)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (7.1.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (5.1.1)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (0.12.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (2022.8.2)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (1.5.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (1.3.0)
Collecting Werkzeug>=2.2.2
  Downloading Werkzeug-2.2.2-py3-none-any.whl (232 kB)
     |████████████████████████████████| 232 kB 58.9 MB/s
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Requirement already satisfied: importlib-metadata>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from flask<3,>=2->dataprep) (5.0.0)
Collecting click>=8.0
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 6.0 MB/s
Requirement already satisfied: Six in /usr/local/lib/python3.7/dist-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6.0->flask<3,>=2->dataprep) (3.9.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.3.4)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.6.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.0.3)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (7.9.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (6.1.12)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.0.10)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 45.2 MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (57.4.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from jinja2<4,>=3->dataprep) (2.0.1)
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 6.3 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.7->dataprep) (1.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh<3,>=2->dataprep) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.1->dataprep) (2022.4)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask[array,dataframe,delayed]<2022.0,>=2021.11->dataprep) (1.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy<2.0.0,>=1.4.32->dataprep) (1.1.3.post0)
Collecting asttokens<3.0.0,>=2.0.0
  Downloading asttokens-2.0.8-py2.py3-none-any.whl (23 kB)
Collecting pure_eval<1.0.0
  Downloading pure_eval-0.2.2-py3-none-any.whl (11 kB)
Collecting executing<0.9.0,>=0.8.3
  Downloading executing-0.8.3-py2.py3-none-any.whl (16 kB)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25 kB)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.5.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.8.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (23.2.1)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (4.11.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.7.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.13.3)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from wordcloud<2.0,>=1.8->dataprep) (3.2.2)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->dataprep) (2.10)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.4.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.0.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.5.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (4.3.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.10.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.1)
Building wheels for collected packages: metaphone, pystache, python-Levenshtein
  Building wheel for metaphone (setup.py) ... done
  Created wheel for metaphone: filename=Metaphone-0.6-py3-none-any.whl size=13918 sha256=cb09113640f8e3f07a8a3b92eee9b4a37d3ed7382392f71cbad988e0013009ab
  Stored in directory: /root/.cache/pip/wheels/1d/a8/cb/6f8902aa5457bd71344e00665c230e9c45255b3f57f2194a0f
  Building wheel for pystache (PEP 517) ... done
  Created wheel for pystache: filename=pystache-0.6.0-py3-none-any.whl size=83635 sha256=45acdd9b34f7bccc0da905e8fe681807303356223a5f4e7528a4c2a3056acec4
  Stored in directory: /root/.cache/pip/wheels/78/87/45/383bd15701a08a94c735e9eaf3ff3299655684aaca63bbad96
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149860 sha256=8625e6a390abb8ea3cfb34a135446b5bfd320985be2731917d80b2ee5010ee3e
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built metaphone pystache python-Levenshtein
Installing collected packages: MarkupSafe, jedi, jinja2, Werkzeug, itsdangerous, click, regex, pure-eval, ply, flask, executing, dask, asttokens, varname, scipy, python-stdnum, python-Levenshtein, python-crfsuite, pystache, metaphone, jsonpath-ng, flask-cors, dataprep
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 1.0.1
    Uninstalling Werkzeug-1.0.1:
      Successfully uninstalled Werkzeug-1.0.1
  Attempting uninstall: itsdangerous
    Found existing installation: itsdangerous 1.1.0
    Uninstalling itsdangerous-1.1.0:

In [2]:
# importamos archivo csv de nombres de las firmas que contienen las firmas, con informacion relevante de cada una de estas.
data = pd.read_csv('us2022q2a.csv')
df1 = pd.read_csv('us2022q2a.csv',names = data.columns)
df1 # se imprime el dataset, para ver si es el correcto

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
1,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.76167023,104,452000,NaN,2000,1
2,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,2679000,512000,0,4642000,45.2156075,73.75,452271.967,6,2000,2
3,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,2925000,528000,0,4902000,30.00323786,48.9375,453014.579,9,2000,3
4,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,3160000,830000,0,5265000,33.56684082,54.75,456366.381,12,2000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324442,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,10496.647,206.211,468.385,87699.257,5.29,5.29,41251.537,6.0,2021,2
324443,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,11309.171,207.635,411.237,78686.999,4.24,4.24,41251.537,9.0,2021,3
324444,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,10258.173,209.068,353.694,70913.334,2.88,2.88,41217.537,12.0,2021,4
324445,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,9214.059,210.512,295.754,65166.97,2.05,2.05,42447.037,3.0,2022,1
324446,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,9765.086,211.965,237.414,57241.873,1.14,1.14,43595.959,6.0,2022,2

In [3]:
# En esta seccion se lee el otro archivo csv, donde podremos obtener, el nombre de las formas, el ticker y el sector al que 
# pertenece la firma correspondiente
data = pd.read_csv('usfirms2022.csv')
df2 = pd.read_csv('usfirms2022.csv', names = data.columns)
df2 = df2[["Ticker","Name", "Sector NAICS\nlevel 1"]] #definimos las colunas que se usaran para armar el nuevo dataframe
df2 # de igual manera imprimimos el dataset

,Ticker,Name,Sector NAICS\nlevel 1
0,Ticker,Name,Sector NAICS\nlevel 1
1,FLWS,1 800 Flowers Com Inc,Retail Trade
2,TXG,"10x Genomics, Inc",Manufacturing
3,GOED,1847 Goedeker Inc,Retail Trade
4,ONEM,"1life Healthcare, Inc",Health Care and Social Assistance
...,...,...,...
3604,ZUO,"Zuora, Inc",Information
3605,ZWS,Zurn Elkay Water Solutions Corp,Manufacturing
3606,ZY,Zymergen Inc,"Professional, Scientific, and Technical Services"
3607,ZYNE,"Zynerba Pharmaceuticals, Inc",Manufacturing
3608,ZNGA,Zynga Inc,Information

In [4]:
# a traves de la función merge, juntamos estos dos datasets separados anteriormente
df = pd.merge(df1, df2, left_on='firm', right_on="Ticker")

# al tener mergeado ambos datasets, se procede a dropear filas que contengan valores nulos, y la columna de Ticker, ya que esta solo fue usada 
# .. para poder usarla de indice para mergear los datasets

#cabe mencionar que solo se realiza a las columnas más importantes del dataset
df = df.drop(columns=['Ticker'])
df = df.drop(df[df.firm.isnull()].index)
df = df.drop(df[df.revenue.isnull()].index)
df = df.drop(df[df.cogs.isnull()].index)
df = df.drop(df[df.adjprice.isnull()].index)
df #imprimimos el data set para visualizar como quedó

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,0,4642000,45.2156075,73.75,452271.967,6,2000,2,"Agilent Technologies, Inc",Manufacturing
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,0,4902000,30.00323786,48.9375,453014.579,9,2000,3,"Agilent Technologies, Inc",Manufacturing
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,0,5265000,33.56684082,54.75,456366.381,12,2000,4,"Agilent Technologies, Inc",Manufacturing
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,0,5541000,18.84034709,30.72999954,456769.737,3,2001,1,"Agilent Technologies, Inc",Manufacturing
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,0,5616000,19.92552195,32.5,457072.749,6,2001,2,"Agilent Technologies, Inc",Manufacturing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,468.385,87699.257,5.29,5.29,41251.537,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,411.237,78686.999,4.24,4.24,41251.537,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,353.694,70913.334,2.88,2.88,41217.537,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,295.754,65166.97,2.05,2.05,42447.037,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,237.414,57241.873,1.14,1.14,43595.959,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing

In [5]:
#calculamos las nuevas columnas, a traves de la funcion assign y a traves de formulas proporcionadas en clase:

# Market Value = (originalprice * sharesoutstanding)
df = df.assign(market_value=lambda x: x.originalprice.astype(np.float) * x.sharesoutstanding.astype(np.float))

# Book Value of the firm = (totalassets-totalliabilities)
df = df.assign(book_value=lambda x: x.totalassets.astype(np.float) - x.totalliabilities.astype(np.float))

# Print dfF y para observar si las nuevas columnas de BookValue y MarkertValue fueron creados de manera correcta
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  import sys

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1,market_value,book_value
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,45.2156075,73.75,452271.967,6,2000,2,"Agilent Technologies, Inc",Manufacturing,3.335506e+07,4642000.000
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,30.00323786,48.9375,453014.579,9,2000,3,"Agilent Technologies, Inc",Manufacturing,2.216940e+07,4902000.000
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,33.56684082,54.75,456366.381,12,2000,4,"Agilent Technologies, Inc",Manufacturing,2.498606e+07,5265000.000
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,18.84034709,30.72999954,456769.737,3,2001,1,"Agilent Technologies, Inc",Manufacturing,1.403653e+07,5541000.000
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,19.92552195,32.5,457072.749,6,2001,2,"Agilent Technologies, Inc",Manufacturing,1.485486e+07,5616000.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,5.29,5.29,41251.537,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,2.182206e+05,87699.257
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,4.24,4.24,41251.537,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.749065e+05,78686.999
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,2.88,2.88,41217.537,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.187065e+05,70913.334
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,2.05,2.05,42447.037,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing,8.701643e+04,65166.970
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,1.14,1.14,43595.959,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,4.969939e+04,57241.873

In [6]:
#Agregmamos book to market ratio al dataset en donde estamos trabajando
#BookToMarketRatio = bookvalue / marketvalue
df = df.assign(BookToMarketRatio=lambda x: x.book_value.astype(np.float) / x.market_value.astype(np.float))
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,originalprice,sharesoutstanding,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,73.75,452271.967,6,2000,2,"Agilent Technologies, Inc",Manufacturing,3.335506e+07,4642000.000,0.139169
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,48.9375,453014.579,9,2000,3,"Agilent Technologies, Inc",Manufacturing,2.216940e+07,4902000.000,0.221116
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,54.75,456366.381,12,2000,4,"Agilent Technologies, Inc",Manufacturing,2.498606e+07,5265000.000,0.210718
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,30.72999954,456769.737,3,2001,1,"Agilent Technologies, Inc",Manufacturing,1.403653e+07,5541000.000,0.394756
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,32.5,457072.749,6,2001,2,"Agilent Technologies, Inc",Manufacturing,1.485486e+07,5616000.000,0.378058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,5.29,41251.537,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,2.182206e+05,87699.257,0.401883
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,4.24,41251.537,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.749065e+05,78686.999,0.449880
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,2.88,41217.537,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.187065e+05,70913.334,0.597384
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,2.05,42447.037,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing,8.701643e+04,65166.970,0.748904
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,1.14,43595.959,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,4.969939e+04,57241.873,1.151762

In [7]:
#ShortFinancialLeverage = shortdebt / totalassets

df = df.assign(ShortFinancialLeverage=lambda x: x.shortdebt.astype(np.float) / x.totalassets.astype(np.float) )
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,sharesoutstanding,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,452271.967,6,2000,2,"Agilent Technologies, Inc",Manufacturing,3.335506e+07,4642000.000,0.139169,0.069936
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,453014.579,9,2000,3,"Agilent Technologies, Inc",Manufacturing,2.216940e+07,4902000.000,0.221116,0.067459
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,456366.381,12,2000,4,"Agilent Technologies, Inc",Manufacturing,2.498606e+07,5265000.000,0.210718,0.098516
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,456769.737,3,2001,1,"Agilent Technologies, Inc",Manufacturing,1.403653e+07,5541000.000,0.394756,0.060382
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,457072.749,6,2001,2,"Agilent Technologies, Inc",Manufacturing,1.485486e+07,5616000.000,0.378058,0.085132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,41251.537,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,2.182206e+05,87699.257,0.401883,0.002100
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,41251.537,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.749065e+05,78686.999,0.449880,0.002307
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,41217.537,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.187065e+05,70913.334,0.597384,0.002576
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,42447.037,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing,8.701643e+04,65166.970,0.748904,0.002830
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,43595.959,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,4.969939e+04,57241.873,1.151762,0.003163

In [8]:
#LongFinancialLeverage = longdebt / totalassests

df = df.assign(LongFinancialLeverage=lambda x: x.longdebt.astype(np.float) / x.totalassets.astype(np.float) )
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,6,2000,2,"Agilent Technologies, Inc",Manufacturing,3.335506e+07,4642000.000,0.139169,0.069936,0.000000
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,9,2000,3,"Agilent Technologies, Inc",Manufacturing,2.216940e+07,4902000.000,0.221116,0.067459,0.000000
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,12,2000,4,"Agilent Technologies, Inc",Manufacturing,2.498606e+07,5265000.000,0.210718,0.098516,0.000000
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,3,2001,1,"Agilent Technologies, Inc",Manufacturing,1.403653e+07,5541000.000,0.394756,0.060382,0.000000
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,6,2001,2,"Agilent Technologies, Inc",Manufacturing,1.485486e+07,5616000.000,0.378058,0.085132,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,2.182206e+05,87699.257,0.401883,0.002100,0.004770
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.749065e+05,78686.999,0.449880,0.002307,0.004569
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.187065e+05,70913.334,0.597384,0.002576,0.004357
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing,8.701643e+04,65166.970,0.748904,0.002830,0.003976
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,4.969939e+04,57241.873,1.151762,0.003163,0.003543

In [9]:
df.columns

Index(['firm', 'q', 'revenue', 'cogs', 'sgae', 'otheropexp', 'extraincome',
       'finexp', 'incometax', 'totalassets', 'totalliabilities', 'shortdebt',
       'longdebt', 'stockholderequity', 'adjprice', 'originalprice',
       'sharesoutstanding', 'fiscalmonth', 'year', 'cto', 'Name',
       'Sector NAICS\nlevel 1', 'market_value', 'book_value',
       'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage'],
      dtype='object')

In [10]:
#EPS = netincome / #SharesOutstanding
#netincome = revenue - cogs - sgae - otheropexp - incometax - finexp + extraincome

df = df.assign(netincome=lambda x: x.revenue.astype(np.float) - x.cogs.astype(np.float) - x.sgae.astype(np.float) - x.otheropexp.astype(np.float) - x.incometax.astype(np.float) - x.finexp.astype(np.float) + x.extraincome.astype(np.float))

df = df.assign(EPS=lambda x: x.netincome.astype(np.float) / x.sharesoutstanding.astype(np.float) )

df['EPS']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

1         0.367036
2         0.342152
3         0.668323
4         0.337150
5         0.210032
            ...
323811   -0.241205
323812   -0.256530
323813   -0.213867
323814   -0.200029
323815   -0.226007
Name: EPS, Length: 153245, dtype: float64

In [11]:
df_commercial = df[(df['Sector NAICS\nlevel 1']=='Retail Trade') | (df['Sector NAICS\nlevel 1']=='Wholesale Trade')].copy()
df_commercial

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS
640,AAP,2002q3,788662,439000,278869,8248,4,16016,18170,2083203,...,3,"Advance Auto Parts, Inc",Retail Trade,1.880993e+06,456191.0,0.242527,0.005541,0.365411,28363.0,0.795252
641,AAP,2002q4,702417,389607,269884,9090,-3203,15485,6529,1965225,...,4,"Advance Auto Parts, Inc",Retail Trade,1.745366e+06,468356.0,0.268343,0.005882,0.368829,8619.0,0.241479
644,AAP,2003q3,849323,460579,306868,2522,13,5935,28268,2011249,...,3,"Advance Auto Parts, Inc",Retail Trade,2.601886e+06,597287.0,0.229559,0.012049,0.226769,45164.0,1.230695
645,AAP,2003q4,771668,404990,308684,1624,-410,4892,19796,1983071,...,4,"Advance Auto Parts, Inc",Retail Trade,3.004391e+06,631244.0,0.210107,0.026880,0.213195,31272.0,0.847274
648,AAP,2004q3,908412,486110,331055,0,-152,4531,33329,2125947,...,3,"Advance Auto Parts, Inc",Retail Trade,2.575440e+06,759748.0,0.294997,0.013421,0.149569,53235.0,0.711057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323271,ZUMZ,2021q2,279069.0,175900.0,68889.0,0.0,254.0,-975.0,9124.0,1017804.0,...,2,Zumiez Inc,Retail Trade,1.263012e+06,581781.0,0.460630,0.066253,0.234380,26385.0,1.023427
323272,ZUMZ,2021q3,268666.0,163701.0,73011.0,0.0,-151.0,-965.0,8770.0,1030742.0,...,3,Zumiez Inc,Retail Trade,1.000538e+06,594296.0,0.593977,0.063880,0.216391,23998.0,0.953648
323273,ZUMZ,2021q4,289455.0,174791.0,74822.0,0.0,468.0,-893.0,10501.0,978189.0,...,4,Zumiez Inc,Retail Trade,1.102706e+06,531742.0,0.482215,0.065825,0.225441,30702.0,1.336157
323274,ZUMZ,2022q1,346677.0,212744.0,82198.0,0.0,-1462.0,-759.0,12828.0,862012.0,...,1,Zumiez Inc,Retail Trade,7.612303e+05,468318.0,0.615212,0.073754,0.237014,38204.0,1.917652
323275,ZUMZ,2022q2,220686.0,148312.0,71877.0,0.0,172.0,-492.0,1558.0,768114.0,...,2,Zumiez Inc,Retail Trade,5.059484e+05,376897.0,0.744932,0.090256,0.270732,-397.0,-0.020401

In [12]:
df_commercial.groupby('Sector NAICS\nlevel 1')['firm'].nunique()

Sector NAICS\nlevel 1
Retail Trade       152
Wholesale Trade     79
Name: firm, dtype: int64

In [13]:
df_commercial.columns

Index(['firm', 'q', 'revenue', 'cogs', 'sgae', 'otheropexp', 'extraincome',
       'finexp', 'incometax', 'totalassets', 'totalliabilities', 'shortdebt',
       'longdebt', 'stockholderequity', 'adjprice', 'originalprice',
       'sharesoutstanding', 'fiscalmonth', 'year', 'cto', 'Name',
       'Sector NAICS\nlevel 1', 'market_value', 'book_value',
       'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage',
       'netincome', 'EPS'],
      dtype='object')

In [14]:
df_commercial['q']

640       2002q3
641       2002q4
644       2003q3
645       2003q4
648       2004q3
           ...
323271    2021q2
323272    2021q3
323273    2021q4
323274    2022q1
323275    2022q2
Name: q, Length: 11370, dtype: object

In [15]:
df_commercial.set_index(['firm','q'], inplace=True)

In [16]:
#En esta parte se procede a realizar el multiindex del dataset para poder realizar el shift correspondiente
df_commercial

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ... cto  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...   3
     2002q4      6529     1965225          1496869     11559  ...   4
     2003q3     28268     2011249          1413962     24233  ...   3
     2003q4     19796     1983071          1351827     53305  ...   4
     2004q3     33329     2125947          1366199     28533  ...   3
...               ...         ...              ...       ...  ...  ..
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...   2
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...   3
     2021q4   10501.0    978189.0         446447.0   64389.0  ...   4
     2022q1   12828.0    862012.0         393694.0   63577.0  ...   1
     2022q2    1558.0    768114.0         391217.0   69327.0  ...   2

                                Name Sector NAICS\nlevel 1  market_value  \
firm q
AAP  2002q3  Advance Auto Parts, Inc          Retail Trade  1.880993e+06
     2002q4  Advance Auto Parts, Inc          Retail Trade  1.745366e+06
     2003q3  Advance Auto Parts, Inc          Retail Trade  2.601886e+06
     2003q4  Advance Auto Parts, Inc          Retail Trade  3.004391e+06
     2004q3  Advance Auto Parts, Inc          Retail Trade  2.575440e+06
...                              ...                   ...           ...
ZUMZ 2021q2               Zumiez Inc          Retail Trade  1.263012e+06
     2021q3               Zumiez Inc          Retail Trade  1.000538e+06
     2021q4               Zumiez Inc          Retail Trade  1.102706e+06
     2022q1               Zumiez Inc          Retail Trade  7.612303e+05
     2022q2               Zumiez Inc          Retail Trade  5.059484e+05

            book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3   456191.0          0.242527               0.005541
     2002q4   468356.0          0.268343               0.005882
     2003q3   597287.0          0.229559               0.012049
     2003q4   631244.0          0.210107               0.026880
     2004q3   759748.0          0.294997               0.013421
...                ...               ...                    ...
ZUMZ 2021q2   581781.0          0.460630               0.066253
     2021q3   594296.0          0.593977               0.063880
     2021q4   531742.0          0.482215               0.065825
     2022q1   468318.0          0.615212               0.073754
     2022q2   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS
firm q
AAP  2002q3              0.365411   28363.0  0.795252
     2002q4              0.368829    8619.0  0.241479
     2003q3              0.226769   45164.0  1.230695
     2003q4              0.213195   31272.0  0.847274
     2004q3              0.149569   53235.0  0.711057
...                           ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427
     2021q3              0.216391   23998.0  0.953648
     2021q4              0.225441   30702.0  1.336157
     2022q1              0.237014   38204.0  1.917652
     2022q2              0.270732    -397.0 -0.020401

[11370 rows x 27 columns]

In [17]:
#EPSP = EPS \ originalprice
df_commercial = df_commercial.assign(EPSP=lambda x: x.EPS.astype(np.float) / x.originalprice.astype(np.float) )

df_commercial

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ...  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...
     2002q4      6529     1965225          1496869     11559  ...
     2003q3     28268     2011249          1413962     24233  ...
     2003q4     19796     1983071          1351827     53305  ...
     2004q3     33329     2125947          1366199     28533  ...
...               ...         ...              ...       ...  ...
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...
     2021q4   10501.0    978189.0         446447.0   64389.0  ...
     2022q1   12828.0    862012.0         393694.0   63577.0  ...
     2022q2    1558.0    768114.0         391217.0   69327.0  ...

                                Name Sector NAICS\nlevel 1  market_value  \
firm q
AAP  2002q3  Advance Auto Parts, Inc          Retail Trade  1.880993e+06
     2002q4  Advance Auto Parts, Inc          Retail Trade  1.745366e+06
     2003q3  Advance Auto Parts, Inc          Retail Trade  2.601886e+06
     2003q4  Advance Auto Parts, Inc          Retail Trade  3.004391e+06
     2004q3  Advance Auto Parts, Inc          Retail Trade  2.575440e+06
...                              ...                   ...           ...
ZUMZ 2021q2               Zumiez Inc          Retail Trade  1.263012e+06
     2021q3               Zumiez Inc          Retail Trade  1.000538e+06
     2021q4               Zumiez Inc          Retail Trade  1.102706e+06
     2022q1               Zumiez Inc          Retail Trade  7.612303e+05
     2022q2               Zumiez Inc          Retail Trade  5.059484e+05

            book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3   456191.0          0.242527               0.005541
     2002q4   468356.0          0.268343               0.005882
     2003q3   597287.0          0.229559               0.012049
     2003q4   631244.0          0.210107               0.026880
     2004q3   759748.0          0.294997               0.013421
...                ...               ...                    ...
ZUMZ 2021q2   581781.0          0.460630               0.066253
     2021q3   594296.0          0.593977               0.063880
     2021q4   531742.0          0.482215               0.065825
     2022q1   468318.0          0.615212               0.073754
     2022q2   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS      EPSP
firm q
AAP  2002q3              0.365411   28363.0  0.795252  0.015079
     2002q4              0.368829    8619.0  0.241479  0.004938
     2003q3              0.226769   45164.0  1.230695  0.017358
     2003q4              0.213195   31272.0  0.847274  0.010409
     2004q3              0.149569   53235.0  0.711057  0.020670
...                           ...       ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427  0.020891
     2021q3              0.216391   23998.0  0.953648  0.023985
     2021q4              0.225441   30702.0  1.336157  0.027842
     2022q1              0.237014   38204.0  1.917652  0.050187
     2022q2              0.270732    -397.0 -0.020401 -0.000785

[11370 rows x 28 columns]

In [18]:
df_commercial['R'] = np.log(df_commercial['adjprice'].astype(np.float)) - np.log(df_commercial.groupby(['firm'])['adjprice'].shift(4).astype(np.float))
df_commercial['R']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

firm  q
AAP   2002q3         NaN
      2002q4         NaN
      2003q3         NaN
      2003q4         NaN
      2004q3    0.265830
                  ...
ZUMZ  2021q2    0.581803
      2021q3    0.357106
      2021q4    0.266038
      2022q1   -0.115775
      2022q2   -0.633520
Name: R, Length: 11370, dtype: float64

In [19]:
df_commercial['RNQ'] = df_commercial.groupby(['firm'])['R'].shift(-1)

In [20]:
df_commercial['RNQ']

firm  q
AAP   2002q3         NaN
      2002q4         NaN
      2003q3         NaN
      2003q4    0.265830
      2004q3    0.864158
                  ...
ZUMZ  2021q2    0.357106
      2021q3    0.266038
      2021q4   -0.115775
      2022q1   -0.633520
      2022q2         NaN
Name: RNQ, Length: 11370, dtype: float64

In [21]:
df_commercial

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ...  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...
     2002q4      6529     1965225          1496869     11559  ...
     2003q3     28268     2011249          1413962     24233  ...
     2003q4     19796     1983071          1351827     53305  ...
     2004q3     33329     2125947          1366199     28533  ...
...               ...         ...              ...       ...  ...
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...
     2021q4   10501.0    978189.0         446447.0   64389.0  ...
     2022q1   12828.0    862012.0         393694.0   63577.0  ...
     2022q2    1558.0    768114.0         391217.0   69327.0  ...

             market_value book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3  1.880993e+06   456191.0          0.242527               0.005541
     2002q4  1.745366e+06   468356.0          0.268343               0.005882
     2003q3  2.601886e+06   597287.0          0.229559               0.012049
     2003q4  3.004391e+06   631244.0          0.210107               0.026880
     2004q3  2.575440e+06   759748.0          0.294997               0.013421
...                   ...        ...               ...                    ...
ZUMZ 2021q2  1.263012e+06   581781.0          0.460630               0.066253
     2021q3  1.000538e+06   594296.0          0.593977               0.063880
     2021q4  1.102706e+06   531742.0          0.482215               0.065825
     2022q1  7.612303e+05   468318.0          0.615212               0.073754
     2022q2  5.059484e+05   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS      EPSP         R  \
firm q
AAP  2002q3              0.365411   28363.0  0.795252  0.015079       NaN
     2002q4              0.368829    8619.0  0.241479  0.004938       NaN
     2003q3              0.226769   45164.0  1.230695  0.017358       NaN
     2003q4              0.213195   31272.0  0.847274  0.010409       NaN
     2004q3              0.149569   53235.0  0.711057  0.020670  0.265830
...                           ...       ...       ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427  0.020891  0.581803
     2021q3              0.216391   23998.0  0.953648  0.023985  0.357106
     2021q4              0.225441   30702.0  1.336157  0.027842  0.266038
     2022q1              0.237014   38204.0  1.917652  0.050187 -0.115775
     2022q2              0.270732    -397.0 -0.020401 -0.000785 -0.633520

                  RNQ
firm q
AAP  2002q3       NaN
     2002q4       NaN
     2003q3       NaN
     2003q4  0.265830
     2004q3  0.864158
...               ...
ZUMZ 2021q2  0.357106
     2021q3  0.266038
     2021q4 -0.115775
     2022q1 -0.633520
     2022q2       NaN

[11370 rows x 30 columns]

In [22]:
a_threshold = '2022q1'
df_commercial = df_commercial.query('q == @a_threshold')

In [23]:
df_commercial

,,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,...,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS,EPSP,R,RNQ
firm,q,,,,,,,,,,,,,,,,,,,,,
ABC,2022q1,57719448,55484368,1378528,76395,-6283,52916,172944,57308153,56402088,1809660,...,3.235565e+07,906065.0,0.028003,0.031578,0.081083,548014.0,2.620354,0.016937,0.284559,0.225304
ABG,2022q1,3911800,3119800,473900,-2700,33100,40200,76000,7860100,5677600,487400,...,3.714688e+06,2182500.0,0.587532,0.062009,0.454702,237700.0,10.251073,0.063989,-0.204239,-0.011916
ACI,2022q1,17383500,12399200,4321700,-1700,47500,108000,148700,28123000,25098400,1469400,...,1.606368e+07,3024600.0,0.188288,0.052249,0.446474,455100.0,0.942006,0.028331,0.661405,NaN
AE,2022q1,774245,0,766097,0,0,90,1968,470117,304596,5551,...,1.681192e+05,165521.0,0.984546,0.011808,0.028393,6090.0,1.394274,0.036224,0.350570,0.181133
AEO,2022q1,1507937,1019252,396787,11944,-3865,8594,17067,3786643,2362971,311005,...,2.836553e+06,1423672.0,0.501902,0.082132,0.394936,50428.0,0.298669,0.017778,-0.520678,-1.181960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,2022q1,2501029.0,1375792.0,600665.0,0.0,0.0,-89.0,121720.0,4625620.0,2961413.0,217409.0,...,1.037604e+07,1664207.0,0.160389,0.047001,0.230637,402941.0,5.630902,0.038834,-0.195987,-0.346125
WSO,2022q1,1523570.0,1073212.0,283354.0,-4045.0,-21592.0,558.0,35601.0,3473889.0,1393174.0,86812.0,...,1.181179e+07,2080715.0,0.176156,0.024990,0.137683,113298.0,2.922088,0.009592,0.182851,-0.154603
WSTG,2022q1,71319.0,59338.0,8606.0,0.0,143.0,10.0,796.0,188770.0,134861.0,498.0,...,1.537496e+05,53909.0,0.350628,0.002638,0.009027,2712.0,0.609430,0.017639,0.341710,0.304832
ZEUS,2022q1,696333.0,555107.0,88104.0,0.0,-6.0,1998.0,13816.0,1043703.0,580917.0,5801.0,...,4.278175e+05,462786.0,1.081737,0.005558,0.318032,37302.0,3.353381,0.087191,0.272373,-0.124839
ZUMZ,2022q1,346677.0,212744.0,82198.0,0.0,-1462.0,-759.0,12828.0,862012.0,393694.0,63577.0,...,7.612303e+05,468318.0,0.615212,0.073754,0.237014,38204.0,1.917652,0.050187,-0.115775,-0.633520

In [24]:
#creamos nueva matriz para poder calcular la matriz de varianza covarianza.

matrixOriginal = df_commercial[['EPSP','BookToMarketRatio','ShortFinancialLeverage','LongFinancialLeverage']]
matOriginal = matrixOriginal.dropna()
matOriginal

,,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
firm,q,,,,
ABC,2022q1,0.016937,0.028003,0.031578,0.081083
ABG,2022q1,0.063989,0.587532,0.062009,0.454702
ACI,2022q1,0.028331,0.188288,0.052249,0.446474
AE,2022q1,0.036224,0.984546,0.011808,0.028393
AEO,2022q1,0.017778,0.501902,0.082132,0.394936
...,...,...,...,...,...
WSM,2022q1,0.038834,0.160389,0.047001,0.230637
WSO,2022q1,0.009592,0.176156,0.024990,0.137683
WSTG,2022q1,0.017639,0.350628,0.002638,0.009027
ZEUS,2022q1,0.087191,1.081737,0.005558,0.318032
ZUMZ,2022q1,0.050187,0.615212,0.073754,0.237014

In [25]:
#se realiza el calculo de la matriz de varianza covarianza con algebra matricial


X = matrixOriginal


n = X.count()['EPSP']
X_trans = X.T

shape = X.shape

M_x = X_trans.dot(np.ones((shape[0],1)))


varCov = (1/(n-1)) * (X_trans.dot(X) - (1/n) * (M_x.dot(M_x.T)))

varCov

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,0.010760,-0.002341,-0.001401,-0.000789
BookToMarketRatio,-0.002341,0.178927,0.000294,-0.038288
ShortFinancialLeverage,-0.001401,0.000294,0.005086,0.003690
LongFinancialLeverage,-0.000789,-0.038288,0.003690,0.130439

In [26]:
# calculamos la matriz con funciones de numpy para poder comprovar el resultado de la variable
X.cov()

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,0.010760,-0.002341,-0.001401,-0.000789
BookToMarketRatio,-0.002341,0.178927,0.000294,-0.038288
ShortFinancialLeverage,-0.001401,0.000294,0.005086,0.003690
LongFinancialLeverage,-0.000789,-0.038288,0.003690,0.130439

In [27]:
#calculamos la correlacion del las variables con algebra matricial

df_matrix_std = np.matrix(X.std())
corr_matrix = varCov / (df_matrix_std.T * df_matrix_std)
corr_matrix

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,1.000000,-0.053352,-0.189421,-0.021054
BookToMarketRatio,-0.053352,1.000000,0.009743,-0.250625
ShortFinancialLeverage,-0.189421,0.009743,1.000000,0.143269
LongFinancialLeverage,-0.021054,-0.250625,0.143269,1.000000

In [28]:
#calculamos la correlación.
X.corr()

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,1.000000,-0.053352,-0.189421,-0.021054
BookToMarketRatio,-0.053352,1.000000,0.009743,-0.250625
ShortFinancialLeverage,-0.189421,0.009743,1.000000,0.143269
LongFinancialLeverage,-0.021054,-0.250625,0.143269,1.000000

1.2 Corre pruebas estadísticas para detectar outliers y leverage points. Tiene que utilizar álgebra matricial para las pruebas y explicar claramente cómo funcionan las pruebas. Puede utilizar funciones de Python para corroborar resultados.

**Calculo de Leverages**

In [57]:
df_leverage_inicial = matOriginal[['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']]
df_leverage_inicial = df_leverage_inicial.dropna().reset_index(drop="True")
x = np.matrix(df_leverage_inicial)

x_ones = np.ones((df_leverage_inicial.count()['EPSP'], 1))


x = np.c_[x_ones, x]
h = x * np.linalg.inv(x.T * x) * x.T

df_leverage = pd.DataFrame(data = {'Leverage': np.diag(h)})
df_leverage = pd.concat([df_leverage_inicial, df_leverage], axis=1, join = "inner")

thrh = 3 * (len(['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']) + 1) / n
df_leverage[df_leverage['Leverage'] > thrh]

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,Leverage
52,-0.012599,0.002520,0.390771,0.495715,0.109552
55,-0.297112,-0.515181,0.245941,0.168998,0.098372
66,0.006202,-0.286263,0.055564,3.097009,0.268691
72,0.043602,1.977040,0.040343,0.365904,0.067080
85,-0.225033,2.777692,0.051330,0.049725,0.154423
114,-0.000137,0.693041,0.374621,0.131757,0.100990
118,-0.321029,0.402530,0.227390,0.127758,0.066907
122,0.101949,0.780155,0.323371,0.184720,0.083521
132,-0.407474,0.206991,0.026470,0.422866,0.082932
163,-0.797105,0.202897,0.068143,0.626674,0.280756
209,-0.851169,1.667919,0.306272,0.297752,0.345269
217,0.012489,-0.083368,0.277168,3.968653,0.471541
219,-0.110929,1.941196,0.000000,0.723942,0.086787

In [58]:
import statsmodels.api as sm

In [59]:
df_commercial = df_commercial.dropna()
df_commercial['R'] = np.log(df_commercial['adjprice'].astype(np.float)) - np.log(df_commercial.groupby(['firm'])['adjprice'].shift(4).astype(np.float))
df_commercial['R'] = df_commercial['R'].fillna(0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [61]:


var_dep = ['R']
var_ind = ['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']


modelo = sm.OLS(df_commercial[var_dep], sm.add_constant(df_commercial[var_ind])).fit()

inf = modelo.get_influence()

lev = inf.hat_matrix_diag

sm_leverage = pd.DataFrame(data={'Leverage':lev})

sm_leverage

sm_leverage = pd.concat([df_commercial[var_ind].reset_index(drop="True"), sm_leverage], axis = 1, join ="inner")

sm_leverage[sm_leverage['Leverage'] > thrh]

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,Leverage
48,-0.012599,0.002520,0.390771,0.495715,0.117908
59,0.006202,-0.286263,0.055564,3.097009,0.280862
64,0.043602,1.977040,0.040343,0.365904,0.073528
75,-0.225033,2.777692,0.051330,0.049725,0.164328
95,0.122724,-0.761072,0.138555,0.190324,0.068176
98,-0.000137,0.693041,0.374621,0.131757,0.105788
101,-0.321029,0.402530,0.227390,0.127758,0.074939
105,0.101949,0.780155,0.323371,0.184720,0.085990
114,-0.407474,0.206991,0.026470,0.422866,0.089911
144,-0.797105,0.202897,0.068143,0.626674,0.300856
186,-0.851169,1.667919,0.306272,0.297752,0.364343
192,0.012489,-0.083368,0.277168,3.968653,0.491759
194,-0.110929,1.941196,0.000000,0.723942,0.092704